@font-face {
  font-family: Game of Thrones;
  src: url("../font/Game of Thrones.ttf")
}

body {
  background-image: url("../images/game-of-thrones-map.jpg");
  background-size: 150%;
  background-repeat: repeat;
  font-family: Game of Thrones;
  width: 100%;
  margin: 0 auto;
  position: relative;
}

.container {
  min-height:100%;
  position:relative;
  max-width: 100%;
}

.header {
  margin-left: 0;
  margin-right: 0;
  padding: 0;
  margin-bottom: 17%;
  clear: both;
  position: relative;
  width: 100%;
}

#leftbox {
  text-align: center;
  color: white;
  font-size: 21px;
  margin-top: 31px;
  margin-bottom: 31px;
  line-height: 1.5;
}

.game  {
  border: 3px dashed white;
  height: 600px;
  margin-bottom: 90px;
  text-align: center;
  color: white;
  font-size: 20px;
  padding-top: 20px;
}

#flayedman {
  width: 100%;
}

#gottitle {
  width: 100%;
}

#hangmantitle {
  font-family: Game of Thrones;
  font-size: 455%;
  z-index: 2;
  position: relative;
  color: #fcfaf4;
  margin-top: -17%;
  margin-bottom: 12%;
  text-align: center;
}

#anykey {
  height: 5%;
}

#wins{
  height: 10%;
  font-size: 30px;
}

ul {
  list-style: none;
  display: inline;
  font-size: 30px;
}

li {
  font-size: 30px;
}

#guessesremaining {
  height: 10%;
  font-size: 30px;
}

#currentWord {
  height: 20%;
  padding-top: 30px;
}

#letterGuessed {
  height: 20%;
  padding-top: 30px;
}
